<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="generaltests.Listener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.LoginTest"/>
	  <class name="test.NoteTest"/>	
      <class name="test.ProjectTest"/>	
	  <class name="test.EstimateTest"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
